.address__content {
    max-width: 1540px;
}

.address__title {
    padding-top: 20px;
    text-align: center;
}

.address-form {
    max-width: 670px;
    padding: 70px 30px 0 30px;
    width: 100%;
    margin: 0 auto;
}

.address-form__group {
    margin-bottom: 70px;
}

.address-form__label,
.address-form__input {
    display: block;
    width: 100%;
}

.address-form__label {
    font-size: 22px;
    font-weight: 600;
}

.address-form__input {
    height: 40px;
    margin-top: 5px;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    font-size: 20px;
    text-indent: 15px;
}

.address-form__error {
    font-size: 16px;
    color: red;
}

.address-form__button {
    margin-top: 30px;
    width: 100%;
    background-color: #ff5555;
    border: 1px solid #ff5555;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 600;
}