.item-list__content {
    max-width: 1540px;
}

.item-list__select-tab__content {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #5f5f5f;
    display: flex;
    align-items: flex-end;
}

.recommend-tab,
.like-tab {
    text-decoration: none;
    font-size: 22px;
    color: #5f5f5f;
    margin-bottom: 5px;
    font-weight: bold;
}

.recommend-tab-active,
.like-tab-active {
    text-decoration: none;
    font-size: 22px;
    color: red;
    margin-bottom: 5px;
    font-weight: bold;
}

.recommend-tab,
.recommend-tab-active {
    margin-left: clamp(10px, 15vw, 200px);
}

.like-tab,
.like-tab-active {
    margin-left: clamp(10px, 15vw, 100px);
}

.item-list__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, 322px);
    justify-content: center;
    grid-auto-rows: 350px;
    gap: clamp(10px, 5vw, 45px);
    padding: 60px 40px;
    width: 100%;
}
