.item-detail__link {
    text-decoration: none;
}

.item-card {
    width: 100%;
    height: 100%;
}

.item-image__content {
    width: 100%;
    height: 90%;
    margin-bottom: 5px;
}

.sold-label__wrapper {
    position: relative;
    height: 100%;
}

.sold-label__content {
    position: absolute;
    top: 0;
    left: 0;
    background: #fa4f4f;
    padding: 10px 10px;
    width: 40%;
    height: 40%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    display: flex;
    justify-content: center;
}

.sold-label {
    color: white;
    font-weight: bold;
    font-size: 28px;
    transform: rotate(-45deg);
    transform-origin: center;
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-name {
    font-size: 22px;
    color: black;
}

.notification-label__wrapper {
    position: relative;
    height: 100%;
}

.notification-label__content {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    padding: 5px;
    width: 10%;
    height: 10%;
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.notification-label {
    color: white;
    font-weight: bold;
    font-size: 20px;
}