.item-detail__content {
    max-width: 1540px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 610px);
    justify-content: center;
    gap: clamp(50px, 10vw, 100px);
    padding: 60px 70px;
}

.item-image__content {
    width: 100%;
    height: 590px;
    margin-top: 40px;
}

.sold-label__wrapper {
    position: relative;
}

.sold-label__content {
    position: absolute;
    top: 0;
    left: 0;
    background: #fa4f4f;
    padding: 10px 10px;
    width: 40%;
    height: 40%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    display: flex;
    justify-content: center;
}

.sold-label {
    color: white;
    font-weight: bold;
    font-size: 350%;
    transform: rotate(-45deg);
    transform-origin: center;
}

.item-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-name {
    font-size: 46px;
    display: inline;
}

.item-brand__content {
    height: 29px;
}

.item-brand {
    font-size: 20px;
}

.item-price__content {
    margin: 10px 0;
}

.yen-mark {
    font-size: 20px;
}

.item-price {
    font-size: 40px;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.tax-label {
    font-size: 24px;
}

.item-icon__content {
    display: flex;
    align-items: center;
}

.item-icon__group {
    margin-left: 30px;
}

.item-icon__inner {
    width: 40px;
    height: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item-like-form {
    width: 100%;
    height: 100%;
}

.item-like-button-active,
.item-like-button {
    border: none;
    background: none;
    padding: 0;
}

.item-like-button-active {
    cursor: pointer;
}

.item__icon {
    width: 40px;
    height: auto;
}

.like__count {
    font-size: 14px;
    font-weight: 600;
}

.comment__count {
    font-size: 14px;
    font-weight: 600;
}

.purchase-link-active,
.purchase-link {
    margin: 15px 0;
    width: 100%;
    background-color: #ff5555;
    border: 1px solid #ff5555;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 3px 0;
    font-weight: 600;
    display: block;
    text-decoration: none;
    text-align: center;
}

.purchase-link-active {
    cursor: pointer;
}

.item-description__title {
    font-size: 30px;
}

.item-description {
    font-size: 18px;
}

.item-information__title {
    padding-top: 20px;
    font-size: 30px;
}

.item-category__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.item-category__label {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
}

.item-category__group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    width: 70%;
}

.item-category {
    padding: 0 15px;
    background-color: #d9d9d9;
    border-radius: 20px;
    font-size: 16px;
}

.item-condition__content {
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.item-condition__label {
    font-size: 18px;
    font-weight: 600;
}

.item-condition {
    padding-left: 15px;
    font-size: 16px;
    width: 70%;
}

.user-comment__content {
    padding-top: 30px;
}

.user-comment__title {
    font-size: 30px;
    color: #5f5f5f;
}

.user-comment__scroll-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

.user-comment__group {
    margin-top: 20px;
}

.user-comment__wrapper {
    display: flex;
    align-items: center;
}

.user-image__inner {
    height: 60px;
    width: 60px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.user-comment__inner {
    padding: 10px;
    background-color: #d9d9d9;
    margin-top: 10px;
}

.user-comment {
    font-size: 16px;
}

.comment-form__content {
    margin-top: 30px;
}

.comment-form__label {
    font-size: 24px;
    font-weight: bold;
}

.comment-form {
    margin-top: 5px;
}

.comment-body {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #5f5f5f;
    font-size: 18px;
}

.comment-form__error {
    font-size: 16px;
    color: red;
}

.comment-form__button-active,
.comment-form__button {
    margin: 30px 0 100px 0;
    width: 100%;
    background-color: #ff5555;
    border: 1px solid #ff5555;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 10px 0;
    font-weight: 600;
}

.comment-form__button-active {
    cursor: pointer;
}