.mypage__content {
    max-width: 1540px;
}

.mypage-image__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 60px 50px;
}

.mypage-image__wrapper {
    display: flex;
    align-items: center;
    max-width: 685px;
    width: 100%;
    margin-left: 70px;
}

.mypage-image__inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mypage-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.mypage-review__content {
    margin-left: 40px;
}

.mypage-name {
    margin-left: 100px;
    font-size: 36px;
    margin: 0;
}

.review__wrapper {
    margin-top: 20px;
    text-align: center;
}

.review {
    line-height: 0;
    font-size: 40px;
    color: #d9d9d9;
}

.good {
    color: yellow;
}

.mypage__edit-link {
    cursor: pointer;
    border: 2px solid #ff5555;
    padding: 5px 30px;
    color: #ff5555;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
}

.mypage__select-tab__content {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #5f5f5f;
    display: flex;
    align-items: flex-end;
}

.sold-tab,
.purchased-tab,
.transaction-tab {
    text-decoration: none;
    font-size: 22px;
    color: #5f5f5f;
    margin-bottom: 5px;
    font-weight: bold;
}

.sold-tab-active,
.purchased-tab-active,
.transaction-tab-active {
    text-decoration: none;
    font-size: 22px;
    color: red;
    margin-bottom: 5px;
    font-weight: bold;
}

.sold-tab,
.sold-tab-active {
    margin-left: clamp(10px, 12vw, 150px);
}

.purchased-tab,
.purchased-tab-active {
    margin-left: clamp(10px, 12vw, 80px);
}

.transaction-tab,
.transaction-tab-active {
    margin-left: clamp(10px, 12vw, 80px);
}

.total-notifications {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    margin: 0 0 5px 5px;
    color: white;
    font-weight: bold;
}

.item-list__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, 322px);
    justify-content: center;
    grid-auto-rows: 350px;
    gap: clamp(10px, 5vw, 45px);
    padding: 60px 40px;
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .mypage-image__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mypage-image__wrapper {
        width: auto;
        margin-left: 0;
    }

    .mypage__edit-link {
        margin-top: 30px;
    }
}