.profile__content {
    max-width: 1540px;
}

.profile__title {
    margin-top: 40px;
    text-align: center;
}

.profile-form {
    max-width: 600px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.profile-image__content {
    display: flex;
    align-items: center;
}

.profile-image__inner {
    width: 100px;
    height: 100px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-select__content {
    margin-left: 30px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.profile-select__label {
    cursor: pointer;
    border: 2px solid #ff5555;
    padding: 5px 15px;
    color: #ff5555;
    font-weight: 500;
    border-radius: 10px;
    width: 146px;
}

.profile-select__image {
    display: none;
}

.profile-form__error {
    font-size: 16px;
    color: red;
}

.profile-form__group {
    margin-top: 40px;
}

.profile-form__label,
.profile-form__input {
    display: block;
    width: 100%;
}

.profile-form__label {
    font-size: 22px;
    font-weight: 600;
}

.profile-form__input {
    height: 40px;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    font-size: 20px;
    text-indent: 15px;
}

.profile-form__button {
    margin-top: 60px;
    width: 100%;
    background-color: #ff5555;
    border: 1px solid #ff5555;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 600;
}