.register__content {
    max-width: 1540px;
}

.register__title {
    margin-top: 80px;
    text-align: center;
}

.register-form {
    max-width: 600px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.register-form__group {
    margin-top: 40px;
}

.register-form__label,
.register-form__input {
    display: block;
    width: 100%;
}

.register-form__label {
    font-size: 22px;
    font-weight: 600;
}

.register-form__input {
    height: 50px;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    font-size: 20px;
    text-indent: 15px;
}

.register-form__error {
    font-size: 16px;
    color: red;
}

.register-form__button {
    margin-top: 90px;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #ff5555;
    border: 1px solid #ff5555;
    border-radius: 5px;
    cursor: pointer;
}

.login-link__button-content {
    margin-top: 30px;
    text-align: center;
}

.login-link__button {
    font-size: 16px;
    text-decoration: none;
    color: #0073cc;
}